@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.contacto-container, .contacto .ubicacion, .contacto .contacto__info, .contacto .form-container {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  width: 100%;
  height: 30rem;
  margin: 0 auto;
  padding: 10px;
}

.contacto-title, .contacto .ubicacion .ubicacion__title, .contacto .contacto__info .contacto__info--title, .contacto .form-container .form__title {
  color: #fcf2f2;
  display: flex;
  align-self: center;
  margin: 5px;
  padding: 10px;
  font-size: 2em;
  font-weight: 500;
}

header nav div .titulo {
  color: #fcf2f2;
}
header nav div .nav {
  justify-content: flex-end;
}

.main__title,
.aside__title {
  margin-top: 4rem;
  text-align: center;
  color: #fcf2f2;
  font-family: "Nunito", sans-serif;
}

.card {
  box-shadow: 0 0.5rem 1rem #f5f4f4b0;
}
.card .card__list {
  padding: 0;
}

.card--simple .card__title--simple {
  margin-top: 4rem;
  text-align: center;
  color: #fcf2f2;
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #343a40;
}

.aside__container {
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .aside__container {
    justify-content: center;
  }
  .aside__container__card {
    margin: 3rem;
  }
}
.h5 {
  color: #fcf2f2;
  font-size: 1.25rem;
  margin: 0 auto;
}

.footer__item {
  color: #fcf2f2;
}

.producto_texto {
  font-size: 0.7rem;
}

.vacio {
  height: 15vh;
}

.btn-shadow {
  margin-left: 0.3rem;
  margin-bottom: 1rem;
}
.btn-shadow:hover {
  box-shadow: 0 0.2rem 0.5rem #f5f4f4b0;
}

.card__img {
  width: 100%;
  height: 100%;
}

/* CONTACTO */
.contacto {
  display: grid;
  color: #ffffff;
  grid-template-areas: "form contacto ubicacion ";
}
.contacto .form-container {
  grid-area: form;
}
.contacto .form-container .form {
  background: inherit;
  width: 90%;
  height: max-content;
  max-width: 400px;
  border-radius: 1rem;
  margin: auto;
  border: 1px solid #fcf2f2;
  box-shadow: 0 0.2rem 0.5rem #f5f4f4b0;
  padding: 1.5rem 1rem;
}
.contacto .form-container .form .form__container {
  width: 100%;
  display: grid;
  gap: 0.5rem;
  grid-auto-columns: 95%;
}
.contacto .form-container .form .form__container .form__input {
  padding: 0.5em;
  outline: none;
  border-radius: 0.5rem;
  border: none;
}
.contacto .form-container .form .form__container .form__input .opcion-radio {
  display: inline-block;
  margin-right: 18px;
}
.contacto .form-container .form .form__container .form__input .opcion-radio input {
  margin-right: 5px;
}
.contacto .form-container .form .form__container .form__input .opcion-radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
.contacto .form-container .form .form__container .form__input .opcion-radio input[type=radio] + label:before {
  content: "";
  background-color: #ffc107;
  border-radius: 100%;
  border: 1px solid #ffc107;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 0.5em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  display: inline-block;
  vertical-align: middle;
}
.contacto .form-container .form .form__container .form__input .opcion-radio input[type=radio]:checked + label:before {
  background-color: #ffc107;
  box-shadow: inset 0 0 0 4px #ffc107;
}
.contacto .form-container .form .form__container .form__input .opcion-radio label {
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
}
.contacto .form-container .form .form__container .form__input __input--mensaje {
  padding-bottom: 1rem;
  resize: none;
}
.contacto .form-container .form .form__container .form__cta {
  width: 100%;
  font-size: 1.2rem;
  outline: none;
  border-radius: 0.5rem;
  border: none;
  background-color: #ffc107;
  color: black;
}
.contacto .contacto__info {
  grid-area: contacto;
}
.contacto .contacto__info .contacto__info--p {
  color: #fcf2f2;
  font-size: 1.2em;
  line-height: 1.5em;
}
.contacto .ubicacion {
  grid-area: ubicacion;
}
.contacto .ubicacion .maps {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  max-width: 26rem;
  max-height: 20rem;
}
.contacto .ubicacion .maps iframe {
  width: 100%;
}
.contacto .ubicacion .ubicacion__parrafo {
  text-align: center;
  color: #fcf2f2;
  border: 1px solid #fcf2f2;
  box-shadow: 0 0.2rem 0.5rem #ffc107;
  font-size: 1.1rem;
  line-height: 1.5em;
  padding: 1.5rem;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .contacto {
    grid-template-areas: "form" "contacto" "ubicacion";
    gap: 1rem;
    margin-left: 1rem;
  }
  .contacto .contacto__info {
    margin-left: 1rem;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .contacto {
    grid-template-areas: "form" "contacto" "ubicacion ";
    gap: 1rem;
    margin-left: 1rem;
  }
  .contacto .contacto__info {
    margin-left: 1rem;
    margin-top: 2rem;
  }
}
.nos .nosotros {
  max-width: 25%;
  border-radius: 50%;
}
.nos p {
  color: #fcf2f2;
}
