
.main__title,
.aside__title {
   @include titles;

}

.card {
    box-shadow: $shadow;
    .card__list {
        padding: 0;
    }
}

.aside__container {
    justify-content: space-evenly;
   &__nombre{
       $aside: map-get($aside, h5 );
      
   }
   &__text{
       $aside: map-get($aside, p);
       
    }   
   
}

@media screen and (max-width:$md) {
    .aside__container {
        justify-content: center;

        &__card {
        margin: 3rem;
        }

    }
}
