
/* CONTACTO */
.contacto {
    display: grid;
    color: #ffffff;
    grid-template-areas: "form contacto ubicacion ";
    
    .form-container{
        grid-area: form;
        @extend .contacto-container;

        .form__title{
        @extend .contacto-title
        }

        .form{
            background: inherit;
            width: 90%;
            height:max-content;
            max-width: 400px;
            border-radius:1rem;
            margin: auto;
            border: 1px solid $color_primary;
            box-shadow: $shadow-cat;
            padding:1.5rem 1rem;

        
            .form__container {
                width: 100%;
                display: grid;
                gap: 0.5rem;
                grid-auto-columns: 95%;
            
            
                .form__input{
                    padding: 0.5em;
                    outline: none;
                    border-radius: 0.5rem;
                    border: none;
                
                        .opcion-radio {
                            display: inline-block;
                            margin-right: 18px;

                            input {
                                margin-right: 5px;
                                
                                &[type=radio] {
                                    position: absolute;
                                    opacity: 0;
                                }

                                &[type=radio] + label:before {
                                    content: '';
                                    background-color: $color_secondary;
                                    border-radius: 100%;
                                    border: 1px solid $color_secondary;
                                    display: inline-block;
                                    width: 1.4em;
                                    height: 1.4em;
                                    position: relative;
                                    top: -.2em;
                                    margin-right: .5em;
                                    vertical-align: top;
                                    cursor: pointer;
                                    text-align: center;
                                    -webkit-transition: all 250ms ease;
                                    transition: all 250ms ease;
                                    display: inline-block;
                                    vertical-align: middle;
                                }
                                &[type=radio]:checked + label:before {
                                    background-color:$color_secondary;
                                    box-shadow: inset 0 0 0 4px $color_secondary;
                                }
                        }   
                        label {
                            display: inline-block;
                            vertical-align: middle;
                            line-height: 32px;
                        }
                    }

                    __input--mensaje{
                        padding-bottom: 1rem;
                        resize: none;
                    }
                }
                .form__cta{
                    width: 100%;
                    font-size: 1.2rem;
                    outline: none;
                    border-radius: 0.5rem;
                    border: none;
                    background-color:$color_secondary;
                    color: black;
                    }
            }
        }
    }
    

    .contacto__info {
        grid-area: contacto;
        @extend .contacto-container;
        


        .contacto__info--title {
             @extend .contacto-title;
        }

        .contacto__info--p {
            color: $color_primary;
            font-size: 1.2em;
            line-height: 1.5em;
        }
    }

    .ubicacion {
        grid-area: ubicacion;
        @extend .contacto-container;

        .ubicacion__title {
           @extend .contacto-title;
        }

        .maps {
            width: 95%;
            height: 100%;
            margin: 0 auto;
            max-width: 26rem;
            max-height: 20rem;

             iframe {
                width: 100%;
              }
        }
        .ubicacion__parrafo{
            text-align: center;
            color:$color_primary;
            border: 1px solid $color_primary;
            box-shadow: $shadow-ubi;
            font-size: 1.1rem;
            line-height: 1.5em;
            padding: 1.5rem;
            margin: auto;
        }
    }
    

}
@media screen and (max-width:$md) {
    .contacto {
        grid-template-areas: "form"
            "contacto"
            "ubicacion";
        gap: 1rem;
        margin-left:1rem;
        
         .contacto__info{
            margin-left:1rem;
        }

    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .contacto {
        grid-template-areas: 
        "form"
        "contacto"
        "ubicacion ";
        gap: 1rem;
        margin-left:1rem;

        .contacto__info{
            margin-left:1rem;
            margin-top: 2rem;
        }
       
    }

}

