

.contacto-container{
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    width: 100%;
    height: 30rem;
    margin: 0 auto;
    padding: 10px;
}

.contacto-title{
    color:$color_primary;
    display: flex;
    align-self: center;
    margin: 5px;
    padding: 10px;
    font-size: 2em;
    font-weight: 500;
}